/* navbar */

body {
  background-color: rgb(34, 34, 34);
}

header h2 {
  color: white;
}

header p {
  color: rgba(245, 222, 179, 0.575);
}

header{
    border-bottom: rgba(255, 255, 255, 0.548) 1px solid;
}

nav {
  background-color: rgba(85, 85, 85, 0.233);
  height: 65px;
  margin-top: 45px;
}

nav ul li {
  list-style-type: none;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

nav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  border-radius: 14px;
  padding: 8px 20px;     
  margin: 2px 5px;
  width: 150px;
  background-color: rgba(128, 128, 128, 0.137);
  height: 35px;
  border: rgba(255, 255, 255, 0.5) 1px solid;
}
a:hover {
  color: black;
  background-color: wheat;
}

/* grid crud */

.information-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding: 20px;
}

.grid {
  background-color: rgba(128, 128, 128, 0.137);
  border: rgba(255, 255, 255, 0.5) 1px solid;
  border-radius: 14px;
  padding: 5px 20px;
  color: white;
}

.grid h5 {
  color: rgba(245, 222, 179, 0.575);
  font-size: 13px;
  margin-bottom: 8px;
}

.grid p {
  font-size: 24px;
  font-weight: 500;
}